* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
a {
    text-decoration: none;
    color: #fff;
}
body {
  background-color: #80B3FF;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

/* CONTAINER */
.container {
  max-width: 400px;
}
.container h1 {
  color: #111;
  font-size: 25px;
  text-align: center;
  text-transform: capitalize;
}

/* CARD */
.container .card {
  max-width: 80%;
  margin: auto;
  margin-top: 30px;
  background-color: rgba(249, 249, 249, 0.444);
  border: 2px solid #111;
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.1);
  padding: 20px 40px;
  border-radius: 20px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.container .card button {
  border: none;
  outline: none;
  position: relative;
  background-color: #42a3ff;
  padding: 10px 60px;
  border-radius: 5px;
  font-size: 13px;
  color: white;
  font-weight: 500;
  transition: 0.3s;
  box-shadow: 0px 5px 0px 0px #3975ae;
  cursor: pointer;
}
.container .card button:active {
  box-shadow: 0px 0px 0px 0px #216aae;
  transform: translateY(5px);
}
.container .card button input {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  opacity: 0;
  cursor: pointer;
}
.container .card p {
  color: #111;
  font-size: 15px;
  opacity: 0.8;
  text-align: center;
  margin-top: 20px;
}
.container #displayCard img {
  max-height: 100%;
  width: auto;
  border-radius: 5px;
  z-index: 1;
}
#startBtn {
    font-size: 12px;
}
.container .image-cont {
  border-radius: 5px;
  padding: 10px;
  max-height: 90%;
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.container #downloadCard .image-cont {
  padding: 0px;
  width: fit-content;
  background-image: url("https://thumbs.dreamstime.com/b/transparent-designer-must-have-fake-background-39672616.jpg");
  background-size: contain;
}
.container #downloadCard .image-after {
  max-height: 100%;
  width: auto;
  border-radius: 5px;
  z-index: 1;
}
.container #downloadCard .image-before {
  max-width: 20%;
  height: auto;
  border-radius: 5px;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
}